@import "~antd/dist/antd.less";

@font-family: "Roboto", sans-serif;
@padding-md: 20px;
@border-radius-base: 5px;
// @primary-color: #f00;
// @info-color: #f00;
// @success-color: #f00;
// @warning-color: #f00;
// @error-color: #f00;
