@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~antd/dist/antd.less";

@font-family: "Roboto", sans-serif;
// vertical paddings
@padding-lg: 30px; // containers
@padding-md: 24px; // small containers and buttons
@padding-sm: 18px; // Form controls and items
@padding-xs: 12px; // small items
@padding-xss: 8px; // more small

// vertical margins
@margin-lg: 30px; // containers
@margin-md: 24px; // small containers and buttons
@margin-sm: 18px; // Form controls and items
@margin-xs: 12px; // small items
@margin-xss: 8px; // more small

@border-radius-base: 5px;
@primary-color: #1f6dff;
@info-color: #20063b;
@success-color: #4ebc5e;
@warning-color: #ffb427;
@error-color: #ff3341;
@height-base: 40px;
@height-lg: 42px;
@height-sm: 32px;
